.bg-gradient.btn:hover {
    background: #e81227 linear-gradient(180deg,#e81227,#e81227) repeat-x!important;
  }
  .bg-gradient.btn:focus {
    background: #e81227 linear-gradient(180deg,#e81227,#e81227) repeat-x!important;
  }
  .bg-gradient.btn.active, .bg-gradient-info.btn:active, .bg-gradient-info.btn:not(:disabled):not(.disabled).active, .bg-gradient-info.btn:not(:disabled):not(.disabled):active {
    background: #e81227 linear-gradient(180deg,#e81227,#e81227) repeat-x!important;
  }
  .bg-gradient.btn:hover {
    border-color: #e81227;
    color: #ececec;
  }