<div class="card">
  <!-- <div class="card-header">
    <h3>{{'INCOMING_LABEL' | translate}}</h3>
  </div> -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="w3-container w3-card-4  w3-text-black ">
          <h2 class="w3-center">Scan QR Code</h2>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:100px">
              <img src="../../../../assets/img/gif/1981.gif" height="40px" width="80%" alt="">
            </div>
            <div class="w3-rest">
              <!-- [autofocusSearch]="true" -->
              <input [ngClass]="test" name="qrcode" autofocusSearch [ngModel]="qrcodeChange"
                (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>
            <div class="row">
              <div class="col-md-12 mt-4 text-center">
                <div style="font-size: 30px;" class="pretty p-icon p-round">
                  <input (change)='InputChange($event)' type="radio" checked name="icon_solid" />
                  <div class="state p-success">
                    <i class="icon mdi mdi-check"></i>
                    <label>{{'INPUT_LABEL' | translate}}</label>
                  </div>
                </div>

                <div style="font-size: 30px;" class="pretty p-icon p-round">
                  <input (change)='OutputChange($event)' type="radio" name="icon_solid" />
                  <div class="state p-danger">
                    <i class="icon mdi mdi-check"></i>
                    <label>{{'OUTPUT_LABEL' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">

        <ejs-grid #ingredientinfoGrid  [dataSource]='data'
          [allowExcelExport]='true' [allowSorting]='true'  allowResizing='true' allowFiltering='true' [filterSettings]='filterSettings'
          [toolbar]='toolbarOptions' showColumnMenu='true' [pageSettings]='pageSettings'
          allowPaging="true" gridLines='Both' (toolbarClick)='toolbarClick($event)'>
          <e-columns>
            <!-- <e-column field='#' headerText='#' width='40'>
            <ng-template let-data #template>
              {{NO(data.index)}}
            </ng-template>
          </e-column> -->
            <e-column field='createdTime' textAlign='Center' headerText='Time' width='150'>
              <ng-template #headerTemplate>
                {{'TIME_LABEL' | translate}}
              </ng-template>
              <ng-template #template let-data>
                {{data.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}
              </ng-template>

            </e-column>

            <e-column field='supplierName' textAlign='Center' headerText='Supplier' width='120'>
              <ng-template #headerTemplate>
                {{'SUPPLIER' | translate}}
              </ng-template>
            </e-column>

            <e-column field='code' textAlign='Center' headerText='Material#' width='120'>
              <!-- <ng-template #headerTemplate>
                Material#
              </ng-template> -->
            </e-column>

            <e-column field='nameInkOrChemical' textAlign='Center' headerText='Ink/Chemical' width='100'>
              <!-- <ng-template #headerTemplate>
                {{'INGREDIENT_LABEL' | translate}}
              </ng-template> -->

            </e-column>

            <e-column field='manufacturingDate' textAlign='Center' headerText='Manufacturing Date' width='130'>
              <ng-template #headerTemplate>
                Manufacturing Date
              </ng-template>
              <ng-template #template let-data>
                {{data.manufacturingDate | date:'yyyy-MM-dd'}}
              </ng-template>
            </e-column>

            <e-column field='batch' textAlign='Center' headerText='Batch' width='100'>
              <ng-template #headerTemplate>
                {{'BATCH_LABEL' | translate}}
              </ng-template>
            </e-column>

            <e-column field='expiredTime' textAlign='Center' headerText='Expired Date' width='130'>
              <ng-template #headerTemplate>
                {{'EXPIRED_DATE_LABEL' | translate}}
              </ng-template>
              <ng-template #template let-data>
                {{data.expiredTime | date:'yyyy-MM-dd'}}
              </ng-template>
            </e-column>

            <e-column field='unit' textAlign='Center' headerText='Unit (Kg)' width='130'>
              <!-- <ng-template #headerTemplate>
                {{'QTY_LABEL' | translate}}
              </ng-template> -->
              <ng-template #template let-data>
                {{data.unit}} Kg
              </ng-template>
            </e-column>

            <e-column field='status' textAlign='Center' headerText='Status' width='100'>
              <ng-template #headerTemplate>
                {{'STATUS_LABEL' | translate}}
              </ng-template>
              <ng-template #template let-data>
                <ng-container *ngIf="data.status === true; else elseTemplate">
                  <span class="badge badge-secondary">Out of Stock</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="badge badge-success">Stored</span>
                </ng-template>

              </ng-template>

            </e-column>

            <e-column field='Option' textAlign='Center' headerText='Option' width='90'>
              <ng-template #headerTemplate>
                {{'OPTION' | translate}}
              </ng-template>
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" (click)='delete(data)' class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </ng-template>

            </e-column>
          </e-columns>
        </ejs-grid>

      </div>
    </div>
  </div>
</div>
